body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    cursor: pointer;
}

/* header */
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #0099cc;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
}

.header-items {
    margin-top: 2px;
    margin-bottom: -4px;
}

.breadcrumb {
    margin-bottom: 8px;
    margin-top: -2px;
    font-size: 14px;
}

.header-items li {
    display: flex;
    list-style-type: none;
    margin-left: -35px;
}

.header-items a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    padding: 0 15px;
}

/* footer */
.footer {
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    color: gray;
    text-align: center;
    margin: 0 auto;
}

.footer span {
    position: fixed;
    padding-top: 5px;
}

/* sidebar */
.sidebarMenu {
    width: 215px;
    background: #e5f9ff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #007ba5;
    padding: 15px 8px;
    cursor: pointer;
    font-size: 14px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #b9e4f1;
}

.sidebarMenuInner li a {
    color: #007ba5;
    font-weight: 450;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.sidebarMenuInner li a:hover {
    color: darkorange;
}

.active {
    background: -webkit-linear-gradient(top, #5e91b3 0%, #407191 100%);
    font-weight: bold;
    text-shadow: 1px 1px 1px #333333;
    border-left: 2px solid #F69322!important;
}

.active > i, .active > a {
    color: #fff !important;
    font-weight: bold !important;
}

/* user-info */
.user-info {
    display: inline;
    float: right;
    text-align: right;
    margin-right: 15px;
    margin-top: 4px;
    margin-bottom: 3px;
}

.user-info li {
    list-style-type: none;
}

.user-info a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #D7F4FC;
    font-weight: 500;
    height: 40px;
}

.user-info a img {
    display: flex;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-left: 20px;
}

/* card view */
.card {
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    position: relative;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
    background: #f9f9f9;
}

.card-header {
    color: #fff;
    background: -webkit-linear-gradient(top, #5e91b3 0%, #407191 100%);
    font-size: 16px;
    padding: 8px 15px;
    margin: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333333;
}

.card-up-section {
    font-size: 14px;
    padding: 12px;
}

.card-up-sec-item {
    line-height: 2em;
    font-weight: 500;
}

.card-up-sec-left-item {
    font-weight: bold;
}

.card-up-sec-right-item {
    position: absolute;
    right: 12px;
}

.card-down-sec {
    font-size: 14px;
    padding: 12px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 54px;
}

/* 12 Columns Grid System */
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-xs-12 {
    grid-column: span 12
}

.col-xs-11 {
    grid-column: span 11;
}

.col-xs-10 {
    grid-column: span 10
}

.col-xs-9 {
    grid-column: span 9
}

.col-xs-8 {
    grid-column: span 8
}

.col-xs-7 {
    grid-column: span 7
}

.col-xs-6 {
    grid-column: span 6
}

.col-xs-5 {
    grid-column: span 5
}

.col-xs-4 {
    grid-column: span 4
}

.col-xs-3 {
    grid-column: span 3
}

.col-xs-2 {
    grid-column: span 2
}

.col-xs-1 {
    grid-column: span 1
}

/* form controls */
.textbox {
    padding: 5px;
    color: #333;
    border: 1px solid lightgrey;
    width: 100%;
    border-radius: 5px;
}

.selectbox {
    padding: 5px;
    color: #333;
    border: 1px solid lightgrey;
    width: 104%;
    height: 25px;
}

/* buttons */
.submit-btn {
    padding: 7px 15px;
    right: 17px;
    position: absolute;
    background: green;
    color: #fff;
    border-radius: 5px;
}

.login-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #2ecc71;
    padding: 4px 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    border-radius: 3px;
}

.logout-btn {
    position: absolute;
    right: 70px;
    top: 10px;
    background: #2ecc71;
    padding: 4px 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    border-radius: 3px;
}

/* for typing purpose */
.typing-area {
    width: 730px;
    height: 138px;
    display: block;
    margin-left: 20px;
    border: 2px solid #74637f;
    border-radius: 0;
    color: #444;
    background-color: transparent;
    overflow: hidden;
    text-overflow: clip;
    box-shadow: 0 0 0 2px #c6aada;
    padding: 10px;
    font: 20px/28px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-family: TexGyreCursor-Bold, Courier, monospace;
    font-size: 25px;
    line-height: 35px;
    color: rgb(153, 153, 153);
    font-weight: 550;
}

#hdnActualInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0px none;
}

.hdnActualInput:focus {
    outline: none;
}

.timer {
    padding: 4px 8px;
    border-radius: 3px;
    margin-left: 10px;
    color: #fff;
    background: -webkit-linear-gradient(top, #5e91b3 0%, #407191 100%);
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333333;
    font-size: 25px;
    width: 55px;
}

.reset {
    background: #E27600;
    padding: 8px 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    border-radius: 3px;
    margin-left: 10px;
    width: 55px;
    font-weight: bold;
    cursor: pointer
}

.net-speed {
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    color: green;
    font-weight: bold;
    font-size: 40px;
}

.net-speed-bottom-label {
    text-align: center;
    color: grey;
    font-size: 12px;
}

.hr-header {
    border-top: 2px solid #0083af;
    border-bottom: 1px solid #07a9e0;
}

/* pull right of the items  */
.right {
    display: flex;
    flex-direction: row-reverse;
}

/* Loader-1 */
.loader {
    color:grey;
    font-family:sans-serif;
    height:5vh;
    left:50%;
    overflow-x:hidden;
    padding-top:7vh;
    position:absolute;
    text-align:center;
    top:50%;
    transform:translate(-50%,-50%);
    width:50vw;
    &:before {
      animation:left-to-right 3s alternate infinite linear;
      background-image:linear-gradient(to right, transparent, red, transparent);
      // bottom:0;
      content:"";
      height:5vh;
      left:0;
      overflow:hidden;
      position:absolute;
      right:0;
      top:0;
    }
    &:after {
      background-image:repeating-linear-gradient(
        90deg,
        white,
        white 1vw,
        transparent 1vw,
        transparent 10vw
      );
      content:"";
      height:5vh;
      left:0;
      overflow:hidden;
      position:absolute;
      right:0;
      top:0;
    }
  }
  
  @keyframes left-to-right {
    0% {
      transform:translateX(-100%);
    }
    100% {
      transform:translateX(100%);
    }
  }

  /* Loader-2 */
  #cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display: none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:forestgreen;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
